<!DOCTYPE html ng-app="myApp">
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jonny's SuperCool App?</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/app.css">
    <link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-route.js"></script>
    <script src="/js/app.js"></script>
</head>
<body ng-controller="myController" ng-init="socket()">
<div class="top navbar navbar-inverse">
    <p class="titleText">Jonny's</br>SuperCoolApp?</p>
    <div class="userLink" ng-show="data.loggedIn" ng-click="goToProfile()">
        <span>{{data.user.username}}</span>
        <img ng-src="{{data.user.img}}" width="50" height="50" alt="profile pic">
    </div>
</div>
<div class="features-container">
    <div class="features-heading" ng-show="view.main">
        <p>Hi there!
            Jonny here.
            I need your help to decide which features I should add to my SuperCoolApp next.
            Please take a look at the list I've put together and vote for the feature you'd like to see next.
            Also, feel free to comment on why or why not you'd like that feature in the app.<br><br>
            Click on a feature for more details.
        </p>
    </div>
    <div class="please-login" ng-show="data.pleaseLogin">
        <span>Please login/register to vote or comment:</span>
        <br>
        <br>
        <button class="btn btn-lg btn-success" ng-click="data.goToLogin()">login</button>
        &nbsp;or&nbsp;
        <button class="btn btn-lg btn-success" ng-click="data.goToRegister()">register</button>
    </div>
    <div class="img-upload" ng-show="view.feature == 4 && data.loggedIn">
        <form>
            <input id="profilePic" class="btn btn-lrg btn-warning" type="file" required>
            <button class="btn btn-lg btn-danger" ng-click="data.handleProfilePic()">upload</button>
        </form>
    </div>
    <div class="features" ng-repeat="feature in data.features | orderBy : 'score' : reverse = true">
        <div class="feature" ng-show="view.main || view.feature == feature.id" >
            <div class="feature-wrapper" ng-click="data.select(feature.id)">
                <h2>{{feature.title}}</h2>
                <h1 class="icon"><i class="{{feature.icon}}"></i></h1>
            </div>


            <button id="{{feature.id}} + 'up'" class="btn btn-lg btn-success thumbs" ng-click="data.upvote(feature.id, $event)"><i class="fa fa-thumbs-up"></i></button>
            <button id="{{feature.id}} + 'down'" class="btn  btn-lg btn-danger thumbs" ng-click="data.downvote(feature.id, $event)"><i class="fa fa-thumbs-down"></i></button>
            </br>
            <p class="label label-success count">{{feature.upvotes}}</p>
            <p class="label label-danger count">{{feature.downvotes}}</p>
        </div>

        <div id="{{feature.id}}" class="feature-details" ng-show="view.feature == feature.id">
            <p class="features-description">{{feature.description}}</p>
            <h3 class="comments-header">Comments:</h3>
            <div class="comments" ng-repeat="comment in feature.comments">
                <span class="comment"><span class="comment-name">{{comment.name}}&nbsp;</span>:&nbsp;&nbsp;{{comment.comment}}</span>
                <button class="btn btn-xs btn-default" ng-show="data.loggedIn && data.reply.commentIndex == null"
                        ng-click="data.showReplyField($parent.feature.id, $index)">reply</button><br><br>
                <div class="replies" ng-repeat="reply in comment.replies">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="comment-reply"><span class="comment-name">{{reply.name}}&nbsp;</span>:&nbsp;&nbsp;{{reply.comment}}</span><br><br>
                </div>
                <form ng-show="data.reply.featureIndex == $parent.feature.id && data.reply.commentIndex == $index">
                    <input type="text" ng-model="data.reply.replyComment" placeholder="Enter a reply">
                    <button class="btn btn-default" ng-click="data.sendReply()">reply</button>
                    <button class="btn btn-default" ng-click="data.cancelReply()">cancel</button>
                </form>
            </div>
            <form ng-show="data.loggedIn">
                <input type="text" ng-model="data.newComment" placeholder="enter your comment">
                <button class="btn btn-lg btn-success" ng-click="data.addComment(feature.id)">submit</button>
            </form>
            <div class="login-link-container" ng-show="!data.loggedIn">
                <button class="btn btn-lg btn-success" ng-click="data.goToLogin()">login</button>
                &nbsp;or&nbsp;
                <button class="btn btn-lg btn-success" ng-click="data.goToRegister()">register</button>
                &nbsp;to comment.
            </div>
        </div>
    </div>
    <div class="login-register-container" ng-show="view.account.login || view.account.register">
        <div class="login" ng-show="view.account.login">
            <h1>Login:</h1>
            <form>
                <input ng-model="data.user.username" type="text" placeholder="username" required>
                <br>
                <input ng-model="data.user.password" type="password" placeholder="password" required>
                <br>
                <p ng-show="data.incorrect">incorrect username or password</p>
                <br>
                <button class="btn btn-lg btn-primary" ng-click="data.loginUser()">login</button>
            </form>
            <br>
            Or login with:
            <br>
            <button>
                <img src="img/FB-f-Logo__blue_100.png" alt="facebook logo">
            </button>
        </div>
        <div class="register" ng-show="view.register.choose || view.register.email">
            <div class="choose" ng-show="view.register.choose">
                <h1>Register with:</h1>
                <br>
                <button class="btn btn-lg btn-primary" ng-click="data.goToEmailRegister()">email</button>
                <br>
                <br>
                or
                <br>
                <br>
                <button><img src="img/FB-f-Logo__blue_100.png" alt="facebook logo"></button>
            </div>
            <div class="email-register" ng-show="view.register.email">
                <form>
                    <h1>Register an account:</h1>
                    <br><br>
                    <input type="text" ng-model="data.user.username" placeholder="username" required>
                    <p ng-show="view.register.usernameExists">Try a different username.</p>
                    <br><br>
                    <input type="email" ng-model="data.user.email" placeholder="email" required>
                    <br><br>
                    <input type="text" ng-model="data.user.twitter" placeholder="twitter username">(optional)
                    <br><br>
                    <input type="password" ng-model="data.user.password" placeholder="password" required>
                    <br><br>
                    <button class="btn btn-lg btn-primary" ng-click="data.createUser()">submit</button>
                </form>
            </div>
        </div>
    </div>
    <button class="btn btn-lg btn-warning back" ng-show="!view.main" ng-click="data.back()">back</button>
</div>
</body>
</html>