body {
    background-color: #2F6FAD;
    font-family: 'Sigmar One', cursive;
}

.userLink {
    position: absolute;
    right: 2px;
    top: 2px;
}

.top {
    width: 100%;
    height: 120px;
    color: #eeeeee;
    text-align: center;
    font-family: 'Sigmar One', cursive;

}

.titleText {
    font-size: 2.5em;
}

.features-heading {
    width: 100%
font-size: 1.5em;
    color: #cccccc;
    text-align: center;
    margin:  0 auto;
}

.feature {
    width: 250px;
    height: 300px;
    background-color: #dddddd;
    float: left;
    margin: 10px 10px;
    box-shadow: inset 0 0 10px #333333;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.icon {
    font-size: 80px;
}

.count {
    font-size: 1.5em;
    margin: 10px;
    font-family: 'Arial', sans-serif;
}

.thumbs {
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
}

.features-description {
    padding-top: 50px;
    font-size: 18px;
    color: #ccccc0;
}

.comments {
    margin: 0 5px;
    clear: both;
}

.comments-header{
    margin: 0 5px;
    clear: both;
    color: #eeeeee;
}

.comment {
    color: #eeeecc
}

.back {
    position: absolute;
    left: 10px;
    top: 0;
}

.login-link-container {
    color: #eeeeff;
}

.login-register-container {
    margin: 10% auto;
    background-color: #eeeeee;
    z-index: 5;
}

.login {
    z-index: 6;
    padding-top: 5%;
    padding-left: 5%;
}

.register {
    z-index: 6;
    padding-top: 5%;
    padding-left: 5%;
}
.comment-name {
    color: #eeeeff;
    font-size: 1.25em;
}

.comment-reply {
    color: #ddffdd;
}